# {{ ansible_managed }}
server {
    listen {{ http_port }};
    server_name {{ domains|join(' ') }};

    {% if nginx_access_log %}
        access_log /var/log/nginx/{{ domain }}-access.log;
    {% else %}
        access_log off;
    {% endif %}
    
    {% if nginx_error_log %}
        error_log /var/log/nginx/{{ domain }}-error.log;
    {% else %}
        error_log off;
    {% endif %}

    {% if ssl %}
        ssl on;
        ssl_certificate {{ cert_path }};
        ssl_certificate_key {{ cert_key_path }};
    {% endif %}

    location / {
        uwsgi_pass  {{ uwsgi_host }}:{{ uwsgi_port }};
        include uwsgi_params;
        client_max_body_size 200m;
    }
}
